workflows/templates/money-printer-lead-qualification.json
{
  "name": "Money Printer - Lead Qualification",
  "nodes": [
    {
      "parameters": {
        "path": "lead-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "lead-qualification-webhook"
    },
    {
      "parameters": {
        "operation": "enrichment",
        "email": "={{ $json.email }}",
        "enrichmentType": "person"
      },
      "id": "enrich-lead",
      "name": "Enrich Lead Data",
      "type": "n8n-nodes-base.clearbit",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.score }}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "score-check",
      "name": "High Value Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "channel": "#sales-alerts",
        "text": "🚀 *HIGH VALUE LEAD ALERT*\n\nName: {{ $json.name }}\nCompany: {{ $json.company }}\nScore: {{ $json.score }}/100\nEmail: {{ $json.email }}\n\nTake action NOW!",
        "options": {}
      },
      "id": "slack-alert",
      "name": "Alert Sales Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "leadData": "={{ $json }}",
        "assignTo": "top-performer",
        "priority": "high"
      },
      "id": "crm-create",
      "name": "Create in CRM",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Enrich Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead Data": {
      "main": [
        [
          {
            "node": "High Value Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Value Check": {
      "main": [
        [
          {
            "node": "Alert Sales Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create in CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create in CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "executionTimeout": 300
  },
  "tags": [
    {
      "name": "Revenue Generator"
    },
    {
      "name": "Lead Management"
    }
  ]
}